* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ECF2FF;
}

main {
    display: flex;
    max-width: 46rem;
    background: #fff;
    border-radius: 32px;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section {
    width: 100%;
    padding-block: 2.375rem;
}